body{
  text-align: center;
  background-image: url('beer.jpg');
  background-size: cover;
}
#new{
  position:absolute; 
  top:20%;  
  left:30%;  
}

#title{
  font-family:KINO MT;
  font-size:4em;
  color:#990000;
}

#search_icon {
   margin:16px 8px;
}
.thumbnail{
  height:400px;
}
.right{
  width: 20%;
  float: left;
  min-height: 10px;
  padding:20px;
  display: block;
  overflow: hidden;
}
