.title-2 {
    color: white;
    
    font-style: italic;
    font-size: 55px;
    font-weight: bold;
    font-variant: small-caps;
}
#enter {
    color: rgb(151, 78, 44);
    font-family: helvetica;
    font-weight: normal;
    font-style: italic;
}

#search_query {
    font-style: italic;
    font-family: courier;
}

.puns {
    float: right;
    margin-right: 100px;
    text-align: right;
    width: 350px;
    font-size: 20px;
}
.pun-quote {
    color: rgb(247, 247, 247);
    font-style: italic;
}
.pun-author {
    font-size: 16px;
    color: white;
    font-style: italic;
}