.recipe-thumbnail {
    width: 207px;
}
.recipe {
    width: 250px;
    height: auto;
    float: left;
    padding: 20px 20px;
    margin: 15px 10px;
    border: solid 1px;
    box-shadow: 6px 6px 5px #C7C7C7;
    background-color: #E9E9E9;
    border-color: #ddd;
}
.recipe-title {
    font-size: 24px;
    font-weight: bold;
    color: #E0B400;
}
.recipe-ingredients-list.tokens.results {
    float: left;
}
.recipe:hover {
    background-color: #FFFFFF;
    box-shadow: 12px 12px 5px #A7A7A7;
}
.result-ingredients-list.tokens {
    float: left;
}

.recipe-results {
    float: left;
}
.result-ingredients-all {
    float: left;
    margin: 10px 10px;
}