/** GENERIC ELEMENTS **/









.link-padded {
    float: right;
    padding: 10px 50px;
    border: solid 1px;
    border-color: #00AAEC;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-top: 50px;
    background-color: #EEE;
}
/** RECIPE FORM **/
	#submit {
		margin: 20px;
		padding: 10px 10px;
	}
	
	.controls {
		margin-top: 10px;
		color: #979797;
	}

/** RECIPE DETAIL **/
	
	.recipe-detail{
		width: 620px;
	}
	
	#recipe-image {
		width: 260px;
		height: auto;
		
	}
	
	#recipe-title {
    font-size: 36px;
    font-weight: bold;
    color: #F1065B;
	
    margin-top: 10px;
}
	
	#recipe-time {
    font-size: 18px;
	}

	.recipe-time-value {
    	font-style: italic;
	}

	.recipe-image {
	
	    width:  260px;
	    height: auto;
	    background-color: #000000;
	    box-shadow: 6px 6px 5px #888888;
	    margin-right: 20px;
	    margin-bottom: 20px;
}
	.recipe-description {
	    float: left;
	
	    width: 320px;
	    height: auto;
}
	.middle-details {
	    float: left;
	
	    margin-left: 20px;
	    width: 620px;
}
	.bottom-details {
	    float: left;
	
	    margin-left: 20px;
}
	.top-details {
	}
#recipe-ingredients {
    margin-top: 12px;
}
.recipe-ingredients-label {
    font-weight: bold;
}
 {}
.top-details {
    float: left;
}
.recipe-ingredients {
    float: left;
	
}

.tokens {
    color: #ddd;
    background-color: #414141;
    margin-top: 8px;
    margin-right: 9px;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 3px 3px 3px #888888;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    float: left;
}
#recipe-time {
    color: #ddd;
}
.quantity-content {
    margin-bottom: 5px;
    display: block;
    width: 40%;
    float: left;
    margin-right: 15px;
}
#ingredients-label {
    margin-bottom: 24px;
}
#ingredients {
    margin-left: -20px;
}
.recipe-image {}
.top-left {
    margin-left: 20px;
    margin-top: 20px;
    float: left;
    margin-bottom: 20px;
}
.recipe-network {
    font-style: italic;
}

#recipe-rating {
    font-size: 18px;
    font-weight: bold;
}

.result-ingredients.result.tokens:hover {
    background-color: #ddd;
    color: #414141;
}
.result-ingredients.result.tokens {}
.result-ingredients.result.tokens {
    background-color: #414141;
}
